DB_HOST=localhost
DB_USER=root
DB_PASS=sua_senha_mysql
DB_NAME=tcc
DB_PORT=3306

JWT_SECRET=chave_secreta_para_jwt_aqui_min_32_chars
JWT_EXPIRATION=8h

BCRYPT_SALT_ROUNDS=10

OWNER_NAME=Dono PlanejAI
OWNER_EMAIL=dono@planejai.com
OWNER_PASSWORD=SenhaSegura123
